

header {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

h1 {font-size: xx-large;}

body {
	background-color: #F0F8FF;
	float: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {	
	overflow:auto;
	padding-bottom: 150px;
}

#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
} 
